html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 249, 249, 0.856);
  background-color: #489c27;
}
h1,
h2,
h3,
h4,
h5 {
  color: #489c27;
  font-weight: 400;
}
h1 {
  font-size: 3.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
.home-container {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5)), url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-container .container header nav {
  margin-bottom: 5%;
  text-align: center;
  font-size: 1.6rem;
}
.home-container .container header nav a {
  padding: 0 2%;
}
.home-container .container header h1 {
  text-align: center;
  font-size: 7rem;
}
@media (min-width:320px) {
  .home-container .container header h1 {
    font-size: 5rem;
  }
}
@media (min-width:800px) {
  .home-container .container header h1 {
    font-size: 8rem;
  }
}
.home-container .container header h2 {
  text-align: center;
  font-size: 3.5rem;
}
@media (min-width:320px) {
  .home-container .container header h2 {
    font-size: 3rem;
  }
}
@media (min-width:800px) {
  .home-container .container header h2 {
    font-size: 5rem;
  }
}
.home-container .container .pitch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 20%;
  margin-top: 10%;
  text-align: center;
}
.home-container .container .pitch h1 {
  font-size: 3rem;
  margin-bottom: 2%;
}
@media (min-width:800px) {
  .home-container .container .pitch h1 {
    font-size: 4rem;
  }
}
.home-container .container .pitch p {
  width: 80%;
  margin: 0 auto;
}
@media (min-width:800px) {
  .home-container .container .pitch p {
    font-size: 2rem;
  }
}
.home-container .container .about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-bottom: 10%;
}
.home-container .container .about div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80%;
  border-radius: 10px;
}
.home-container .container .about div h1 {
  text-align: center;
}
@media (min-width:320px) {
  .home-container .container .about div h1 {
    font-size: 3rem;
  }
}
@media (min-width:800px) {
  .home-container .container .about div h1 {
    font-size: 4rem;
  }
}
.home-container .container .about div img {
  border-radius: 15px;
  border: 1px solid black;
  display: block;
  margin: 2% auto;
  width: 90%;
  height: auto;
}
.home-container .container .about div p {
  margin: 2% auto;
  text-align: center;
  width: 90%;
}
@media (min-width:800px) {
  .home-container .container .about div p {
    font-size: 2rem;
  }
}
.team {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
@media (min-width:400px) {
  .team {
    width: 80%;
  }
}
nav {
  display: flex;
  justify-content: center;
  color: #2dd1ee;
}
nav a {
  text-decoration: none;
  font-size: 2rem;
  padding: 20px;
}
