a:hover {
  transition: 0.3s;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
/*html, body {
	border: 0;
	font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

div, span, object, iframe, img, table, caption, thead, tbody,
tfoot, tr, tr, td, article, aside, canvas, details, figure, hgroup, menu,
nav, footer, header, section, summary, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cit, code,
del, dfn, em, ins, q, samp, small, strong, sub, sup, b, i, hr, dl, dt, dd,
ol, ul, li, fieldset, legend, label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  caption, th, td {
    text-align: left;
    vertical-align: middle;
  }
}

a img {
  border: 0;
}

:focus {
  outline: 0;
}
*/
* {
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  color: rgba(255, 249, 249);
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5)), url(../images/forest.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1,
h2,
h3,
h4,
h5 {
  color: #8ed0ebd7;
}
@media (min-width:800px) {
  h1 {
    font-size: 6rem;
    font-weight: 600;
  }
}
@media (min-width:800px) {
  h2 {
    font-size: 4rem;
    font-weight: 400;
  }
}
@media (min-width:800px) {
  h3 {
    font-size: 3.2rem;
  }
}
@media (min-width:800px) {
  p {
    font-size: 2.2rem;
    line-height: 1.5;
    font-weight: 400;
  }
}
footer {
  height: 200px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
body h1 {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
body p {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
body header h1 {
  text-align: center;
}
body header h2 {
  text-align: center;
}
body .pitch {
  height: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5)), url(../images/cool-view.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 5px #8ed0ebd7;
  border-bottom: solid 5px #8ed0ebd7;
}
body .about {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px #8ed0ebd7;
}
body .service {
  height: 600px;
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.5)), url(../images/jungle.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: solid 5px #8ed0ebd7;
}
.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 10%;
  width: 80%;
  border-radius: 10px;
}
.team .person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team .person h2 {
  text-align: center;
}
.team .person p {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  padding-bottom: 7%;
}
.team .person img {
  border-radius: 15px;
  border: 1px solid black;
  margin: 2% auto;
  width: 60%;
  height: auto;
}
.form {
  margin-bottom: 10%;
}
.form h2 {
  text-align: center;
  font-size: 4rem;
}
.form form {
  width: 50%;
  margin: 0 auto;
}
.form form .fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.form form .fields label {
  display: block;
  font-size: 2rem;
  margin-bottom: 5%;
}
.form form .fields input[type=text],
.form form .fields input[type=email] {
  width: 70%;
  margin-bottom: 10%;
}
.form form .fields #name,
.form form .fields #email,
.form form .fields #message {
  border: 1px solid black;
}
.form form ul {
  padding: 0;
  list-style: none;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}
nav a {
  text-decoration: none;
  color: #fff9f9;
  font-size: 2rem;
  font-weight: 600;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  background-color: #4aafd880;
}
nav a a:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
