// General Styles
* {
    box-sizing: border-box;
  }
html, body {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  color: @fontcolor;
  height: 100%;
  background: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, .5)), url(../images/forest.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
  color: @headercolor;
  }
  h1 {
    @media @tablet{
      font-size: 6rem;
      font-weight: 600;
    }
    // @media @mobile{
    //   font-size: 4rem;
    //   font-weight: 400;
    // }
  }
  h2 {
    @media @tablet{
    font-size: 4rem;
    font-weight: 400;
    }
    // @media @mobile{
    //   font-size: 2rem;
    //   font-weight: 200;
    // }
  }
  h3 {
    @media @tablet{
    font-size: 3.2rem;
    }
    // @media @mobile{
    //   font-size: 2.5rem;
    //   font-weight: 400;
    // }
  }
p {
  @media @tablet{
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 400;
  }
  // @media @mobile{
  //   font-size: 1.5rem;
  //   font-weight: 200;
  // }
}

