// General Styles
* {
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  html, body {
    font-family: 'Raleway', sans-serif;
    color: @text;
    background-color: @background-color;
  }

  h1, h2, h3, h4, h5 {
<<<<<<< HEAD
    font-family: 'Russo One', sans-serif;
    color: @light-blue;
  }

  h1 {
    font-size: 3.6rem;
=======
    font-size: 3.8rem;
>>>>>>> d4ab103f3fef1ae28719f3680e9d42432f9ca2ed
  }

  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2.8rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
  }

