.home-container {
    .container {
            header {
                nav {
                    margin-bottom: 5%;
                    text-align: center;
                    font-size: 1.6rem;
                    a {
                            padding: 0 2%;
                    }//a
                }//nav
                h1 {
                    text-align: center;
                    font-size: 7rem;
                        @media @tablet {
                            font-size: 8rem;
                        }
                }//H1
                h2 {
                    text-align: center;
                    font-size: 3.5rem;
                        @media @tablet {
                            font-size: 5rem;
                        }
                }//H2
            }//Header
            .pitch {
                .flex-box(column, center, center);
                margin-bottom: 20%;
                margin-top: 10%;
                text-align: center;
                h1 {
                    font-size: 3rem;
                    margin-bottom: 2%;
                    @media @tablet {
                        font-size: 4rem;
                    }
                }//H1
                p {
                    width: 80%;
                    margin: 0 auto;
                    @media @tablet {
                        font-size: 2rem;
                    }
                }//p
        }//pitch
        .about {
            .flex-box(row, center, center);
            padding-bottom: 10%;

                div {

                    @media @mobile{
                    .flex-box(column, center, center);
                    width: 80%;
                    border-radius: 10px;
                        h1 {
                            text-align: center;
                                @media @tablet {
                                    font-size: 4rem;
                                }
                        }

                        img {
                            border-radius: 15px;
                            border: 1px solid black;
                            display: block;
                            margin: 2% auto;
                            width: 90%;
                            height: auto;
                        }

                        p {
                            margin: 2% auto;
                            text-align: center;
                            width: 90%;
                            @media @tablet {
                                font-size: 2rem;
                            }

                        }
                    }
                }

        }

     }//Container
}//Homepage

h1 {
    text-align: center;
}
.team {
    .flex-box(column, center, center);
    margin: 0 auto;
    padding-bottom: 10%;
    width: 80%;
    border-radius: 10px;

        .person {
            .flex-box(column, center, center);
            
            h2 {
                text-align: center;
            }

            p {
                text-align: center;
                width: 60%;
                margin: 0 auto;
                padding-bottom: 7%;
            }

            img {
                border-radius: 15px;
                border: 1px solid black;
                margin: 2% auto;
                width: 60%;
                height: auto;
            }

        }//person

    
}//Team Page

.form {
    margin-bottom: 10%;
    h2 {
        text-align: center;
        font-size: 4rem;
    }

    form {
        width: 50%;
        margin: 0 auto;
        .fields {
            .flex-box(column, center, center);
            text-align: center;
            label {
                display: block;
                font-size: 2rem;
                margin-bottom: 5%;
            }
            input[type=text], input[type=email] {
                width: 70%;
                margin-bottom: 10%;
                    
            }

            #name, #email, #message {
                border: 1px solid black;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            text-align: center;
        }
    }
}