body{
    h1{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    p{
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    header {
        h1{
            text-align: center;
        }
        h2{
            text-align: center;
        }
    }//Header
    .pitch{
        height: 600px;
        background: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, .5)), url(../images/cool-view.jpg);
        .parallax(cover, center, fixed);
        .flex-box(column, center, center);
        border-top: solid 5px @headercolor;
        .borderbottom();
    }//pitch
    .about {
        height: 600px;
        .parallax(cover, center, fixed);
        .flex-box(column, center, center);
        .borderbottom();
    }
    .service{
        height: 600px;
        background: linear-gradient(rgba(255, 255, 255, .2), rgba(0, 0, 0, .5)), url(../images/jungle.jpg);
        .parallax(cover, center, fixed);
        .flex-box(column, center, center);
        .borderbottom();
    }
}//body
//Home Page Ends
//Team Page Begins
.team {
    .flex-box(column, center, center);
    margin: 10% auto;
    padding-bottom: 10%;
    width: 80%;
    border-radius: 10px;
        .person {
            .flex-box(column, center, center);

            @media @desktop {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }

                div {
                    @media @desktop {
                        .flex-box(column, flex-start, flex-end);
                        margin-left: 10%;
                    }

                    h2 {
                        text-align: center;
                        @media @desktop {
                            font-size: 4rem;
                        }
                    }
        
                    p {
                        text-align: center;
                        width: 60%;
                        margin: 0 auto;
                        padding-bottom: 7%;
                            @media @desktop {
                                font-size: 2rem;
                            }
                    }
                }

            img {
                border-radius: 15px;
                border: 1px solid black;
                margin: 2% auto;
                width: 40%;
                height: auto;

                    @media @desktop {
                        margin: 2% 0;
                    }
            }

        }//person


}//Team Page Ends
// Contact Page Begins
.form {
    width: 400px;
    margin: 0 auto;
    .flex-box(column, center, center);
    margin-bottom: 10%;
    h2 {
        margin: 10% 0;
        text-align: center;
        font-size: 4rem;
    }

    form {
        .fields {
            .flex-box(column, center, center);
            text-align: center;
            label {
                display: block;
                font-size: 2rem;
                margin-bottom: 5%;
            }
            //possible conflict old code
            input[type=text], input[type=email] {
                width: 70%;
                margin-bottom: 10%;

            }
            #name, #email, #message {
                border: 1px solid black;
                width: 70%;
                margin-bottom: 10%;
            }
        }

        ul {
            padding: 0;
            list-style: none;
            text-align: center;

                li {
                    input[type=submit] {
                        margin-top: 5%;
                        font-size: 1.5rem;
                        color: #fff;
                        font-family: 'Raleway', sans-serif;
                        padding: 7px;
                        border-radius: 15px;
                        background-color: @backgroundcolor;
                    }
                }

                
        }
    }
}