// Global Nav Bar Design
nav{
    display:flex;
    justify-content: center;
    color: @slate-blue;
    a{
        text-decoration: none;
        font-size: 1.5rem;
        padding:20px;
    }//a
}//nav